<div class="container" style="width: 100%">
    <div class="row justify-content-between mx-2">
        <div class="col">
            <h1>Profile</h1>
        </div>
        <div class="col">
            <a href="#" id="Edit Profile">Edit Profile</a>
        </div>
    </div>
    <hr class="margin: 2% 1%;" style="color:lightgray">
    <div class="row justify-content-start mx-2">
        <div id="profile_picture" class="col-4">Picture<br>Placeholder</div>
        <div id="username" class="col-4">
            <h2>Name</h2>
            <br>
            <p>Last seen aurora: </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Images</h3>
        </div>
    </div>
    <!--TODO: Add dynamic image display of photos from the posts they made -->
    <!-- Should pull images from the posts table of the database that are tied to the specific user-->
</div>