<style>
        .container {
            max-width: 800px;
        }
        .profile img {
            border: 4px double black;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            margin-left: 40px;
        }
        .profile {
            margin-left: 25px;
            margin-top: 15px;
            border: 1px solid #000000;
            display: flex; 
            align-items: center;  
        }
        #user {
            /*spaces username*/
            margin-top: 20px;
            font-weight: bold;
        }
        #caption {
            /*spaces caption*/
            margin-left: 20px;
            margin-top: 20px;
        }
        .post img {   
            width: 800px;
            height: 500px; 
            padding: 10px; 
        }
        .post { 
            margin-bottom: 30px; 
        }
        .footer {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
	</style>
	<body>

    {{#each posts}}
    <div class="container">
        <div class="profile">
            <img src={{this.user_img}} alt="Profile Picture" alt="Profile Picture"> 
           <p id="user">{{this.username}}</p>
           <p id="caption">{{this.text}}</p>
        </div>
        <div class="post">
            <img src={{this.post_img}} alt="Post Image">
        </div>
    </div>
    {{/each}}
    
    
    </body>

